/AbstractBehavior.class
/AntonoffkaApple.class
/Apple.class
/AppleFactory.class
/AppleNames.class
/Color.class
/ColorValues.class
/ExactBehavior.class
/FooBar.class
/Fruit.class
/GrannyApple.class
/JustAClass.class
